@model IEnumerable<SmartphoneShop.Models.SmartphoneFeature>
@{
    ViewBag.Title = "ComparisonTable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <head>
        <style>
            .jumbotron
            {
                background-color:aquamarine;
            }
            td, th {
                padding-right: 50px;
            }
        </style>
    </head>
    <div class="jumbotron">
        <h4 style="text-align:center">Comparison of Internal Storage and RAM</h4>

        <table border="1" style="margin:auto">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Brand)
                </th>

                @foreach (var item in Model)
                {
                    <td>
                        @item.Brand
                    </td>
                }
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>

                @foreach (var item in Model)
                {
                    <td>
                        @item.Model
                    </td>
                }
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InternalStorage)
                </th>


                @foreach (var item in Model)
                {
                    <td>
                        @item.InternalStorage GB
                    </td>
                }
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RAM)
                </th>

                @foreach (var item in Model)
                {
                    <td>
                        @item.RAM GB
                    </td>
                }
            </tr>
        </table>
        <br>
        @if (ViewBag.Message != null)
        {
            <script type="text/javascript">
                window.onload = function () {
                    alert("@ViewBag.Message");
                };
            </script>
        }
        <br>
        <p style="text-align:center">
            @Html.ActionLink("Back to Home", "Index")
        </p>
    </div>